[submodule "code/ebpH"]
	path = code/ebpH
	url = git@github.com:willfindlay/ebpH.git
[submodule "code/bpfbench"]
	path = code/bpfbench
	url = git@github.com:willfindlay/bpfbench.git
[submodule "experiments/lmbench"]
	path = experiments/lmbench
	url = https://github.com/intel/lmbench.git
[submodule "experiments/libMicro"]
	path = experiments/libMicro
	url = https://github.com/rzezeski/libMicro.git
